@font-face {
    font-family: Codigra;
    src: url('./ressources/Codigra.ttf');
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background: #292929;
	border-radius: 0.62rem;
	height: 10rem;
	&:hover {
		background: #464646;
	}
}
/*                                                          style général */
body {
	background-color: #151616;
	background-image: url(./ressources/img-fixed-test-og.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	scroll-behavior: smooth;
	position: relative;
	z-index: -1;
	color: #acacac;
	padding: 0;
	margin: 0;
	font-size: 100%;
	//display: flex;
	//align-items: center;
	//justify-content: center;
}
html {
	height: 100%;
	font-size: 100%;
}
.bloc {
	padding-left: 20%;
	padding-right: 20%;
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 6.25rem;
	margin: 0;
	color: #ffffff;
	width: 48rem;
	padding-left: 5%;
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 6.25rem;
	margin: 0;
	transition: opacity 1s, transform 1000ms;
	transform : translate(0, 100px);
	opacity : 0;
	color: #ffffff;
}
.p{
	transition: opacity 1s, transform 800ms;
	transform : translate(0, 200px);
	opacity : 0;
}
section.active h2, section.active .p{
	opacity: 1;
	transform : translate(0,0);
  }

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.06rem;
	text-transform: uppercase;
	margin: 0;
	color: #ffffff;
}
p {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-size: 1.56rem;
	margin: 0;
}
.paragraphe{
	width: 36.06rem;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-size: 1.56rem;
	margin: 0;
}
a {
	color: #cacaca;
	text-decoration: none;
}
/*                                            	HEADER */
header {
	height: 7.5rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 400ms;
	margin: 0;
	z-index: 3;
	a {
		font-family: 'Poppins', sans-serif;
		letter-spacing: 0.25px;
		font-weight: 600;
		font-size: 1.25rem;
		transition: text-shadow 100ms, color 100ms;
			&:hover {
				color: #ffffff;
				text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
			}
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		gap: 3.12rem;
		align-items: center;
	}
		li {
			a {
				font-family: 'Poppins', sans-serif;
				font-weight: normal;
				font-size: 1.06rem;
				text-transform: uppercase;
				transition: text-shadow 100ms, color 100ms;
			}
			.hbouton {
				font-family: 'Poppins', sans-serif;
				font-weight: normal;
				font-size: 1.06rem;
				text-transform: uppercase;
				background-color: transparent;
				border: solid 2px;
				padding-left: 1.31rem;
				padding-right: 1.31rem;
				padding-top: 0.62rem;
				padding-bottom: 0.62rem;
				border-radius: 5px;
				color: #cacaca;
				transition: text-shadow 100ms, color 100ms;
					&:hover {
						color: #ffffff;
						background: #FF8971;
						box-shadow: 0px 0px 25px 5px #c557407a;
						border: solid 2px transparent;
						text-shadow: 0 0 10px rgba(201, 201, 201, 0.2);
					}
			}
		}
}
.header-wrapper {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 6.87rem;
	padding-right: 6.87rem;
	background: linear-gradient(180deg, #1d1123 0%, rgba(29, 17, 35, 0) 100%);
}
.header--scroll-down {
	transform: translateY(-100%);
	opacity: 0;
}
.header--scroll-up {
	top: 0;
	height: 6rem;
	opacity: 1;
}
/*                                       parallax stars 		  */
span {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
span.parallax {
	display: block;
	z-index: 5;
}
.star {
	position: absolute;
	display: block;
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
#stars{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
/*                    				         CONTENT */
section {
	margin: 0;
	margin-top: 31.87rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
/* 				    			ici  scroll sections couleurs	*/
#yolo{
	section {
		position: relative;
		height : 20vh;
		background-color: transparent;
		transition : background-color 500ms;
		margin-top: 0;
		color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: visible;
		&.violet.active {
			background-color: #3B212D;
		}
		&.rose {
			background-color : #3B212D;
		}
			&.rose.active {
				background-color : #954747;
			}
		&.rouge {
			background-color: #954747;
			height: 100vh;
			padding-top: 10%;
			padding-right: 20%;
			padding-left: 20%;
			overflow: visible;
			z-index: 2;
		}
			&.rouge.active {
				background-color: #FF8971;
				overflow: visible;
				z-index: 2;
			}
		&.rouge-2 {
			background-color: #FF8971;
		}
		&.rouge-2.active {
			background-color: #954747;
		}
		&.rose-2 {
			background-color : #954747;
		}
		&.rose-2.active {
			background-color : #3B212D;
		}
		&.violet-2{
			background-color: #3B212D;
		}
		&.violet-2.active {
			background-color: transparent;
		}
		p{
			width: 550px;
			margin-bottom: 70px;
		}
	}
	.boulemagique-bleue{
		position: relative;
		border: 0;
		height: 0;
		width: 0;
		top: -100px;
		left: -500px;
		overflow: visible;
	}
	.boulemagique-jaune{
		position: relative;
		border: 0;
		height: 0;
		width: 0;
		left: 500px;
		overflow: visible;
	}
	.boulemagique-verte{
		position: relative;
		border: 0;
		height: 0;
		width: 0;
		top: 100px;
		left: -400px;
		overflow: visible;
	}
	span{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: -50px 0 0 -50px;
		transition: height 500ms, width 500ms, margin 500ms, transform 500ms ease-in-out;
	}
	.boulebleue{
		background: #63E6FF;
		.inside{
			transition: height 100ms, width 100ms, margin 100ms, transform 100ms ease-in-out;
			width: 500px;
			height: 500px;
			margin: -300px 0 0 -200px;
		}
	}
	.boulejaune{
		background: #FFF38A;
		.inside{
			transition: height 100ms, width 100ms, margin 100ms, transform 100ms ease-in-out;
			width: 500px;
			height: 500px;
			margin: -300px 0 0 -200px;
		}
	}
	.bouleverte{
		background: #7DFF82;
		.inside{
			transition: height 100ms, width 100ms, margin 100ms, transform 100ms ease-in-out;
			width: 500px;
			height: 500px;
			margin: -300px 0 0 -200px;
		}
	}
	.texteboulemagique{
		display: none;
	}
	.texteboulemagique.inside{
		display: block;
	}
	/*.yolo-text-1{
		padding-top: 60%;
	}
	.yolo-text-3{
		padding-bottom: 60%;
	}*/
}
/*                    				         CONTENT */
.part1 {
	margin: 0;
	padding-top: 17%;
	padding-bottom: 0;
	.part3-p{
		display:flex;
		justify-content: flex-end;
		margin: 0;
		margin-top: 3.12rem;
	}
}

#part3 {
	p{
		width: 40rem;
		font-family: 'Poppins', sans-serif;
		font-size: 4rem;
		font-weight: 900;
		color: #FF8971;
		margin: 0;
	}
	h2 {
		margin-top: 10%;
		width: 70%;
		margin-left: 40%;
	}
}

.part4 {
	#aïe{
		height: 500px;
		width: 500px;
		border-radius: 50%;
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;	
		position: absolute;
		top: 79%;
		left: 55%;
		color: white;
		font-family: 'Poppins';
		font-size: 40px;
		z-index: 99;
		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
	}
	.container-key{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 2%;
	}
	.key{
		width: auto;
		border: solid transparent;
		border-radius: 25px;
		background: #333333;
		padding: 2px 10px 2px 10px;
		color: darkgrey;
	}
	h2{
		margin-top: 3rem;
	}
	p{
		width: 34.37rem; 
		margin-top: 1.68rem;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			margin-top: 4rem;
			width: 45%;
			p {
				margin-top: 0.93rem;
				font-size: 1rem; 
				width: 100%;
			}
			img {
				display: block;
				width: 100%;
				border-radius: 5%;
				object-fit: cover;
				margin: 0;
				margin-bottom: 1.25rem;
			}
		}
	}
	.static {
		background: transparent;
	}
	.static:hover {
		opacity:0;
	}
	#realisations {
		display: flex;
		justify-content: space-between;
	}
}

#a-propos-de-moi{
	position: absolute;
    top: 52%;
}

.part5 {
	margin-top: 0;
	padding-top: 16%;
	padding-bottom: 9%;
	.container-formulaire {
		margin-top: 3%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: unset;
	}
	.input-field {
		background-color: transparent;
		height: 3.12rem;
		width: 31.25rem;
		border: 0;
		border-bottom: solid 1px lightgrey;
		margin-top: 0.62rem;
		margin-bottom: 1.25rem;
		font-family: 'Poppins', sans-serif;
		font-weight: normal;
		font-size: 0.93rem;
		color: #FF8971;
		outline: none;
	}
	form {
		button {
			font-family: 'Poppins', sans-serif;
			font-weight: normal;
			font-size: 1.06rem;
			text-transform: uppercase;
			background-color: transparent;
			border: solid 2px;
			padding-left: 1.31rem;
			padding-right: 1.31rem;
			padding-top: 0.62rem;
			padding-bottom: 0.62rem;
			border-radius: 5px;
			color: lightgrey;
			transition: all 100ms;
			&:hover {
				color: #ffffff;
				background: #fb6e51;
				box-shadow: 0px 0px 25px 5px #8b2f2f75;
				border: solid 2px transparent;
				text-shadow: 0 0 10px rgba(201, 201, 201, 0.2);
				cursor: pointer;
			}
		}
	}
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #151616 inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: #FF8971 !important;
}
footer {
	height: 30px;
	color: rgb(145, 151, 158);
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	text-align: center;
}


.container-formulaire{
	position: relative;
	@keyframes float {
		0% {
			 transform: translate(0px, 0px);
		 }
		 50% {
			 transform: translate(0px,16px);
		 }
		 100% {
			 transform: translate(0px, 0px);
		 }
	  }
	  $img: 0;
	  $icons: 3;
	@while $img <= $icons {
		a:nth-child(#{$img}) { 
		  display: block;
		  animation: float 4s infinite ease-in-out;
		  animation-delay: #{$img/2}s;
		}
		$img: $img + 1;
	}
	  a {
		transition: all 0.3s ease;
	  }
	.insta{
		position: absolute;
		background-image: url("./ressources/icones-portfolio/insta.jpg");
		top: 60%;
		left: 71%;
		width: 50px;
		height: 50px;	
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 50%;
		box-shadow: 0px 0px 10px 5px rgba(221, 25, 84, 0.219);
		&:hover{
			box-shadow: 0px 0px 60px 10px rgba(194, 10, 65, 0.7);
		}
	}
	.insta-t{
		width: 200px;
		text-align: center;
		font-size: 20px;
		position: absolute;
		top: 81%;
		left: 67%;
		transform: rotate(-10deg);
	}
	.linkedin{
		position: absolute;
		background-image: url("./ressources/icones-portfolio/linkedin.svg");
		top: 28%;
		left: 60%;
		width: 50px;
		height: 50px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 50%;
		box-shadow: 0px 0px 10px 5px rgba(12, 101, 190, 0.2);
		&:hover{
			box-shadow: 0px 0px 100px 50px rgba(12, 101, 190, 0.5);
		}
	}
	.linkedin-t{
		font-size: 20px;
		position: absolute;
		top: 15%;
		left: 56%;
		transform: rotate(-5deg);
	}
	.CV{
		position: absolute;
		background-image: url("./ressources/icones-portfolio/dl-logo-2.svg");
		top: 15%;
		left: 85%;
		width: 50px;
		height: 50px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 50%;
		box-shadow: 0px 0px 10px 5px rgba(190, 107, 12, 0.2);
		&:hover{
			box-shadow: 0px 0px 80px 30px rgba(230, 132, 4, 0.5);
		}
	}
	.CV-t{
		font-size: 20px;
		position: absolute;
		top: 2%;
   	 	left: 84%;
		transform: rotate(10deg);
	}
}


/* cards */

.card-container{
	position: relative;
}

/* 																					RESPONSIVE */



/* PC */
@media screen and (min-width:967px) and (max-width:1367px){
	h1, h2{
		font-size: 5.6rem;
	}
	h2{
		width: 48rem;
	}
	.part2{
		h2{
			margin-left: 22%;
		}
	}
	#part3 h2{
		margin-left: 30%;
	}
	.part4{
		#aïe{
			top: 83%;
			left: 48%;
		}
		p{
			font-size: 1rem;	
		}
	}
	.paragraphe{
		width: 24rem;
		font-size: 1.2rem;
	}
	.container-formulaire .CV-t, .container-formulaire .insta-t, .container-formulaire .linkedin-t{
		font-size: 15px;
	}
	.part5 .input-field {
	width: 25rem;
	}
	.container-formulaire .CV-t{
		top: 7%;
		left: 83%;
	}
	.container-formulaire .insta{
		top: 62%;
		left: 74%;
	}
	.container-formulaire .insta-t{
		width: 150px;
		left: 70%;
	}
	.container-formulaire .linkedin-t{
		top: 22%;
	}
	.container-formulaire .linkedin{
		top: 33%;
	}
}





/* Tablettes */
@media screen and (min-width:800px) and (max-width:966px){
	.header-wrapper{
		padding-left: 4rem;
		padding-right: 4rem;
	}
	div.all {
		padding-left: 10%;
		padding-right: 10%;
	}
	h1, h2{
		font-size: 4.70rem;
	}
	#realisations{
		flex-direction: column;
	}
	.container-formulaire {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		a {
			font-size: 1rem;
			padding-left: 8rem;
		}
	}
}






/* Téléphones */
@media screen and (max-width: 799px){
	.bloc {
		padding-left: 10%;
		padding-right: 10%;
	}
	h1{
		width: 270px;
		font-size: 37px;
		margin-top: 9rem;
	}
	h1, h2{
		padding: 0;
		font-size: 35px;
		width: 280px;
	}
	section{
		margin-top: 20rem;
	}
	h3 {
		font-size: 1.06rem;
	}
	p {
		font-family: 'Poppins', sans-serif;
		font-weight: normal;
		font-size: 1.56rem;
		margin: 0;
	}
	.paragraphe{
		width: 204px;
		font-size: 12px;
		margin: 0;
	}

	.input-field{
		width: 100%;
	}
	.container-formulaire {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		a {
			font-size: 12px;
			padding-left: 1rem;
		}
	}

	.header-wrapper{
		padding-left: 2rem;
		padding-right: 2rem;
		gap: 20px;
	}
	header {
		height: 200px;
		a {
			font-size: 15px;
		}
		ul {
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
			padding: 0;
			margin: 0;
			margin-top: 5px;
		}
		li {
			a {
				font-size: 12px;
			}
		}
		.hbouton {
			font-size: 12px;
			border: solid 1px;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 3px;
			padding-bottom: 3px;
			border-radius: 5%;
		}
	}	
	.header-wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding-top: 20px;
	}



	.part3-p{
	margin-top: 0;
		p{
			margin: 0;
		}
	}

	#part3{
		p{
			width: 100%;
			font-size: 2rem;
		}
	}

	.part4{
		p{
			font-size: 12px;
			width: 200px;
			margin: 0;
		}	
		ul{
			flex-direction: column;
			li{
				width: 100%;
				margin-top: 4rem;
				p{
					font-size: 0.8rem;
					width: 100%;
				}
			}
		}
	}
	#realisations{
		flex-direction: column;
	}

	.container-formulaire{
		gap: 50px;
		align-items: center;
		a{
			padding: 0;
		}
	}

	#form-outer{
		width: 100%;
		.input-field {
			height: 2rem;
			width: 100%;
			font-size: 12px;
		}
	}
	form {
		button {
			font-size: 12px;
			border: solid 1px;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 3px;
			padding-bottom: 3px;
			border-radius: 5%;
		}
	}
	.part4{
		#aïe{
			width: 200px;
			height: 200px;
			font-size: 15px;
			left: 24%;
			top: 101%;
		}
	}

	#yolo{
		section {
			p{
				width: 100%;
				margin-bottom: 70px;
				font-size: 1rem;
			}
			position: relative;
			height : 10vh;
			background-color: transparent;
			transition : background-color 500ms;
			margin-top: 0;
			color: black;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			overflow: visible;

			&.violet.active {
				background-color: #3B212D;
			}
			&.rose {
				background-color : #3B212D;
			}
				&.rose.active {
					background-color : #954747;
				}
			&.rouge {
				background-color: #954747;
				height: 100%;
				padding: 10%;
				overflow: visible;
				z-index: 2;
				width: auto;
			}
			&.rouge.active {
				background-color: #FF8971;
				overflow: visible;
				z-index: 2;

			}}
			&.rouge-2 {
				background-color: #FF8971;
			}
			&.rouge-2.active {
				background-color: #954747;
			}
			&.rose-2 {
				background-color : #954747;
			}
			&.rose-2.active {
				background-color : #3B212D;
			}
			&.violet-2{
				background-color: #3B212D;
			}
			&.violet-2.active {
				background-color: transparent;
			}
			.yolo-text-1, .yolo-text-2, .yolo-text-3{
				margin: 0;
				margin-top: 5%;
			}
			.boulemagique-jaune, .boulejaune, .boulebleue, .boulemagique-bleue, .boulemagique-verte, .bouleverte, .rouge-2{
				display: none;
			}
		}

		.container-formulaire{
			.insta-t, .insta, .CV-t, .CV, .linkedin-t, .linkedin, .icons{
			display: none;
			}
		}


		#realisations{
			.static{
				opacity: 0;
			}
			.conteneur-gif{
				display: none !important;
			}
		}

		#header{
			display: none;
		}

}
